@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;

  /* Mapeamento de variáveis semânticas */
  --color-background: var(--bg-global);
  --color-foreground: var(--fg-global);
  --color-card: var(--bg-card);
  --color-card-border: var(--border-card);
  
  --color-sidebar-bg: var(--bg-sidebar);
  --color-sidebar-fg: var(--fg-sidebar);
  --color-sidebar-border: var(--border-sidebar);
  
  --color-muted: var(--fg-muted);
  --color-muted-light: var(--bg-muted-light);
  
  --color-primary: var(--brand-primary);
  --color-primary-hover: var(--brand-hover);
  
  --color-success: var(--status-success);
}

/* --- MODO CLARO (Default) --- */
:root {
  --bg-global: #f8fafc;         /* slate-50 */
  --fg-global: #0f172a;         /* slate-900 */
  --bg-card: #ffffff;           /* white */
  --border-card: #e2e8f0;       /* slate-200 */
  
  --bg-sidebar: #0f172a;       /* slate-900 */
  --fg-sidebar: #94a3b8;       /* slate-400 */
  --border-sidebar: #1e293b;   /* slate-800 */
  
  --fg-muted: #64748b;          /* slate-500 */
  --bg-muted-light: #f1f5f9;    /* slate-100 */
  
  --brand-primary: #6366f1;     /* indigo-500 */
  --brand-hover: #4f46e5;       /* indigo-600 */
  
  --status-success: #10b981;    /* emerald-500 */
}

/* --- MODO ESCURO --- */
.dark {
  --bg-global: #020617;         /* slate-950 */
  --fg-global: #f8fafc;         /* slate-50 */
  --bg-card: #0f172a;           /* slate-900 */
  --border-card: #1e293b;       /* slate-800 */
  
  --bg-sidebar: #030712;       /* zinc-950 */
  --fg-sidebar: #64748b;       /* slate-500 */
  --border-sidebar: #0f172a;   /* slate-900 */
  
  --fg-muted: #94a3b8;          /* slate-400 */
  --bg-muted-light: #1e293b;    /* slate-800 */
  
  --brand-primary: #6366f1;     /* indigo-500 */
  --brand-hover: #818cf8;       /* indigo-400 */
}

@layer base {
  body {
    background-color: var(--bg-global);
    color: var(--fg-global);
    font-family: var(--font-sans);
    transition-property: color, background-color, border-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    -webkit-font-smoothing: antialiased;
  }
}